a {
  color: #000;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4a6385;
}

.header {
  border-top: 1px solid #3a83e5;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 87px;
}

.menu__list {
  display: flex;
}

.menu__list li {
  margin-left: 39px;
}

.menu__list a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #2f3f54;
}

.top {
  background-color: #3a83e5;
  padding-top: 164px;
  padding-bottom: 183px;
}
.top__inner {
  display: flex;
}
.top-info {
  min-width: 570px;
  margin-right: 15px;
  color: #fff;
}
.top-info__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 52px;
  margin-bottom: 28px;
}
.top-info__description {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 44px;
}
.top-info__description span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.top-info__list {
  margin-bottom: 55px;
}
.top-info__list li {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
  padding-left: 24px;
}
.top-info__list li::before {
  position: absolute;
  content: " ";
  background-image: url(./../image/list-logo.png);
  width: 13px;
  height: 13px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top-info__button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 8.5px 44px;
  border: 3px solid #fff;
  border-radius: 25px;
}
.top-images__box {
  position: relative;
}
.top-images__circle {
  position: absolute;
  top: -50px;
  right: -95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 232px;
  background-color: #fff;
  border-radius: 50%;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.top-images__title {
  width: 138px;
  text-align: left;
}
.top-images__price {
  font-size: 54px;
  font-weight: 700;
  line-height: 40px;
}
.top-images__date {
  width: 138px;
  text-align: right;
}
.price {
  padding-top: 156px;
  padding-bottom: 180px;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #2f3f54;
  text-align: center;
}
.title span {
  font-weight: 700;
  color: #3a83e5;
}
.price__description {
  max-width: 585px;
  margin: 45px auto 125px;
  text-align: center;
}
.price__description a {
  color: #e74c3c;
}
.price__description span {
  color: #42d6c1;
}
.price-tiles {
  display: flex;
  justify-content: space-between;
}
.price-tile {
  position: relative;
  max-width: 360px;
  padding: 0 45px 0 50px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}
.price-tile__cost {
  position: absolute;
  top: -205px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 260px;
  height: 300px;
  padding-bottom: 40px;
  background-color: #3a83e5;
  border-radius: 130px;
  font-size: 33px;
  line-height: 33px;
  color: #fff;
}
.price-tile__cost span {
  font-size: 16px;
  line-height: 16px;
}
.price-tile__images {
  padding-top: 115px;
  text-align: center;
  min-height: 245px;
}
.price-tile__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #3a83e5;
}
.price-tile__text {
  font-family: "Lato", sans-serif;
  margin-bottom: 60px;
}
.price-tile__list {
  margin-bottom: 140px;
}
.price-tile__list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}
.price-tile__list .fa {
  margin-right: 15px;
}
.price-tile__button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 10px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #3a83e5;
}
